{% extends "base/base.html"%}

{%  block start %}

<section class="section-content padding-y bg">
  <div class="container">
    {{Order.uid}} <br>
    <h2>Order Items</h2>
    <ul>
        {% for item in Order.products.all %}
            <li>
                Product: {{ item.Product.product_name}}<br>
                size : {{item.size}}
            </li>

        {% endfor %}
    </ul>

    {{Order.Price}}
  <!-- ============================ COMPONENT 1 ================================= -->

  
             <!-- Checkout form -->
         <form action="/accounts/cart_checkout_session" method="POST">
            {% csrf_token %}
            <input type="hidden" name="email"  value="{{ request.user.email }}">
            <input type="hidden" name="Order"  value="{{Order.uid}}">
            <button type="submit" id="checkout-button">Checkout</button>
          </form>    

  
   
  </div>
  </section>


{% endblock %}